html {
    background: url(images/dgb.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: TitleFont;
    src: url(Fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: Saira;
    src: url(Fonts/SairaCondensed-ExtraLight.ttf);
}

div.title{
    display: inline-block;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: TitleFont;
    font-size: 40px;
}
#title1{
    position: fixed;
    color: #3c89a2;
    top: -35px;
    left: 20px;
}
#title2{
    position: fixed;
    color: #3c89a2;
    top: 50px;
}
#title3{
    position: fixed;
    color: #3c89a2;
    top: 125px;
}
div.angle {
    display: inline-block;
    position: fixed;
    left:550px;
    top:80px;
    text-align: center;
    filter: invert(75%) sepia(30%) saturate(753%) hue-rotate(115deg) brightness(85%) contrast(89%);
}
div.balanced {
    display: inline-block;
    position: fixed;
    left: 1042px;
    top: 255px;
    text-align: center;
    color: black;
    /*filter: invert(75%) sepia(30%) saturate(753%) hue-rotate(115deg) brightness(85%) contrast(89%);*/
}
#robotAngle {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
}
#driveMode {
    position: fixed;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: Saira;
    font-size: 15pt;
    left: 50px;
    top: 300px;
    color: rgb(218, 238, 255);
}
div.flywheel {
    display: inline-block;
    position: fixed;
    left: 750px;
    top: 0px;
    text-align: center;
}
#flywheelRPM {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
    color: rgb(218, 238, 255);
}
#matchTime {
    position: fixed;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-family: Saira;
    font-size: 30pt;
    top: 65px;
    left: 50px;
    color: rgb(218, 238, 255);
}
#timer {
    position: fixed;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80pt;
    top: 50px;
    left: 50px;
    color: rgb(218, 238, 255);
    /*color: rgb(255, 159, 80);*/
    /*color: crimson;*/
}

#matchPhase {
    position: fixed;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: Saira;
    font-size: 20pt;
    top: 255px;
    left: 50px;
    color: rgb(218, 238, 255);
}

#ticks {
    position: fixed;
    text-align: center;
    font-size: 20px;
    left: 1250px;
    top: 400px;
    color: rgb(70, 71, 71);
}

#rectangle{
    position:fixed;
    left: 1000px;
    top: 0px;
    width:400px;
    height:500px;
    color: #fff;
    background-color: rgba(0,0,0,.35);
}

#apriltag1 {
    display:inline-flex;
    position:fixed;
    left:1040px;
    top:40px;
}

#apriltagpic {
    display: inline-block;
    position:fixed;
    left:1125px;
    top:215px;
    color: rgb(218, 238, 255);
    font-family: Saira;
    font-size: 20pt;
}

/* .button {
    background-color: rgba(0,0,0,0);
    border: 0 none;
    background:url(./images/dropdownArrow.png) no-repeat;
    padding: 15px, 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 0 none;
}

button:active {
    background:url(./images/dropdownArrow.png) no-repeat;
    outline: 0 none;
    border: 0 none;
    
} */

div.arrow1 {
    display: inline-block;
    position:fixed;
    left:770px;
    top:130px;
    border: 0 none;
    outline: 0 none;
    /*filter: invert(80%) sepia(99%) saturate(1399%) hue-rotate(184deg) brightness(458%) contrast(103%);*/
    /* color: aliceblue; */
    background-color: rgba(0,0,0,0);
}

#arrow2 {
    display: inline-block;
    position:fixed;
    left:770px;
    top:205px;
    /*filter: invert(80%) sepia(99%) saturate(1399%) hue-rotate(184deg) brightness(458%) contrast(103%);*/
    color: aliceblue;
}

#arrow3 {
    display: inline-block;
    position:fixed;
    left:770px;
    top:280px;
    /*filter: invert(80%) sepia(99%) saturate(1399%) hue-rotate(184deg) brightness(458%) contrast(103%);*/
    color: aliceblue;
}

#arrow1:hover, #arrow1:focus    {
    filter: invert(75%) sepia(30%) saturate(753%) hue-rotate(115deg) brightness(85%) contrast(89%)
}

#auto-select {
    display: inline-block;
    position:fixed;
    left:810px;
    top:95px;
    color: aliceblue;
    font-family: Saira;
    font-size: 20pt;
}

#speed {
    display: inline-block;
    position:fixed;
    left:810px;
    top:170px;
    color: aliceblue;
    font-family: Saira;
    font-size: 20pt;
}

#arm-length {
    display: inline-block;
    position:fixed;
    left:810px;
    top:245px;
    color: aliceblue;
    font-family: Saira;
    font-size: 20pt;
}

/* Dropdown Button */
/*.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }*/
  
  /* The container <div> - needed to position the dropdown content */
div.dropdown {
    position: relative;
    display: inline;
    left:770px;
    top:115px;
    background-color: rgba(0,0,0,0);
}
  
div.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.35);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Dropdown Content (Hidden by Default) */
  
  /* Links inside the dropdown */
  div.dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    font-family: Saira;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
div.dropdown-content a:hover {background-color: black;}
  
  /* Show the dropdown menu on hover */
div.arrow1:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
div.dropdown:hover .dropbtn {background-color: #3e8e41;}